extends ../layouts/default

block content
  .profile-card
    .row
      .col-sm-3
        .profile-card__avatar
          if data.user.steam.avatar
            img(src="#{ data.user.steam.avatar }")
          else
            img(src="http://placehold.it/184x184")
      .col-sm-9
        .profile
          h2.profile__username= data.user.username
          p.profile__email= data.user.email
          p.profile__driver-number= data.user.driverNumber
