extends ../../layouts/default

block flash-messages
	//- intentionally blank
	
block content
	.container
		.page-intro
			h1.text-center Join Reddit Racing
			+flash-messages(messages)
		.page-content
			.row
				.col-md-4.col-md-offset-4
					.well
						+auth-forms({ modal: false, initial: 'join' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
